<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="blogstyles.css" />
  </head>
  <body>
    <div class="container">
      <div class="container_left">
        <div class="kira_Blog">
          <img class="kiraBlog" src="./assets/kirablog2.jpg" alt="" />
        </div>
        <h1 class="header">Nigeria</h1>
        <div class="blog_con">
          <div class="blogLeft"><p>Benjamin A.0.</p></div>
          <div class="blogRight"><p>November 10 2022</p></div>
        </div>
        <p class="blogText">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Amet
          voluptatum error sint aperiam cupiditate atque accusamus consequuntur
          quisquam aspernatur provident tempore, quia in quibusdam sunt minima
          enim? Eaque, nisi saepe. Lorem ipsum dolor sit amet consectetur,
          adipisicing elit. Enim sunt repellat eum modi maiores commodi, ratione
          dicta voluptates totam amet doloremque nostrum. Harum delectus
          expedita a dolore odio, nemo repellendus! Lorem ipsum dolor sit amet
          consectetur adipisicing elit. Temporibus ad officiis iure magni totam
          et magnam dicta quasi voluptatum aspernatur, rerum enim sint amet
          excepturi eos architecto nihil, animi aliquid.
        </p>
      </div>
      <div id="blogRightSide" class="container_right">
        <!-- <div class="crBlogBox">
          <img class="right_img" alt="blog img" src="./assets/kirablog2.jpg" />
          <h3>Sample title</h3>
        </div> -->
      </div>
    </div>

    <script src="blogScript.js"></script>
  </body>
</html>
