<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/dashboard.css" />
    <link rel="stylesheet" href="/createProduct.css">

    <script
      src="https://kit.fontawesome.com/2bbbf54a3f.js"
      crossorigin="anonymous"
    ></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <title>Kira Dashboard</title>
  </head>
  <body>
    <div class="mother_container">
      <header>
          <div class="leftHeader">
              <div class="logoContainer">
                  <img src="/kiralogo.png" alt="kira" class="kiralogo">
              </div>
          </div>
          <div class="rightHeader">
              
               <div class="rhRight">
                  <div class="profileImgContainer">
                    <p>Welcome Kira </p>
                      <img  class="profileImg" src="">
                  </div>
              </div>
          </div>
  </header>
  <section class="dashboardBody">
      <div class="dashboardBodyContainer">
          <div class="sideBarContainer">
              <div class="dashboardTitle">
                  <!-- <i class="fa-sharp fa-solid fa-gears"></i> -->
                   <h2>Dashboard</h2>
              </div>
              <nav>
                  <ul>
                      <li><button class="dashBtn" onclick="showThis(1)"><i class="fa-solid fa-table-list"></i>Products</button></li>
                      <li><button class="dashBtn" onclick="showThis(2)"><i class="fa-solid fa-rectangle-list"></i>Blogs</button></li>
                      <li><button class="dashBtn" onclick="showThis(3)"><i class="fa-solid fa-bags-shopping"></i>Orders</button></li>
                  </ul>
              </nav>
          </div>
          <main>
              <div class="mainContent" id="addProd">
                  <div class="createProductContainer">



                    <!-- Edit product -->

                    <div id="edit_product" class="createForm">
                        <div class="createProductTitle">
                            <h3>Edit Product</h3>
                        </div>
                        <div class="createProductInput">
                            <form action="Put" id="createProductForm">
                                <div class="productTitle">
                                    <label for="product_title_id">Product title</label>
                                    <input type="text" id="productTitleId" placeholder="Enter product title"/>
                                </div>
                                <div class="productDesc">
                                    <label for="productDescId">Product Description</label>
                                    <textarea id="productDescId" cols="50" rows="4"></textarea>
                                </div>

                                <div class="imgUpload">
                                    <label for="productImg">Images</label>
                                    <input id="productImg" type="file" />
                                </div>
                                <div class="categoryPrice">
                                    <div class="productCategory">
                                        <label for="productCategoryId">Category</label>
                                        <select id="productCategoryId">
                                            <option value="Men">Men</option>
                                            <option value="Women">Women</option>
                                            <option value="Unisex">Unisex</option>
                                        </select>
                                    </div>
                                    <div class="productPrice">
                                        <label for="producPriceId">Price</label>
                                       <input type="number" placeholder="enter price" id="producPriceId"/>
                                    </div>
                                </div>
                                <button class="submitbtn" type="submit">Submit item</button>


                            </form>
                        </div>
                    </div>



                    <!-- create product -->

                      <div class="createForm" id="createProd">
                          <div class="createProductTitle">
                              <h3>Create Product</h3>
                          </div>
                          <div class="createProductInput">
                              <form action="Put" id="createProductForm">
                                  <div class="productTitle">
                                      <label for="product_title_id">Product title</label>
                                      <input type="text" id="productTitleId" placeholder="Enter product title"/>
                                  </div>
                                  <div class="productDesc">
                                      <label for="productDescId">Product Description</label>
                                      <textarea id="productDescId" cols="50" rows="4"></textarea>
                                  </div>

                                  <div class="imgUpload">
                                      <label for="productImg">Images</label>
                                      <input id="productImg" type="file" />
                                  </div>
                                  <div class="categoryPrice">
                                      <div class="productCategory">
                                          <label for="productCategoryId">Category</label>
                                          <select id="productCategoryId">
                                              <option value="Men">Men</option>
                                              <option value="Women">Women</option>
                                              <option value="Unisex">Unisex</option>
                                              <option value="Shoes">Shoes</option>
                                          </select>
                                      </div>
                                      <div class="productPrice">
                                          <label for="producPriceId">Price</label>
                                         <input type="number" placeholder="enter price" id="producPriceId"/>
                                      </div>
                                  </div>
                                  <button class="submitbtn" type="submit">Submit item</button>


                              </form>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="mainContent" id="editProd">
                <div class="createProductContainer">
                    <div class="createForm">
                        <div class="createProductTitle">
                            <h3>Create Product</h3>
                        </div>
                        <div class="createProductInput">
                            <form action="Put" id="createProductForm">
                                <div class="productTitle">
                                    <label for="product_title_id">Product title</label>
                                    <input type="text" id="productTitleId" placeholder="Enter product title"/>
                                </div>
                                <div class="productDesc">
                                    <label for="productDescId">Product Description</label>
                                    <textarea id="productDescId" cols="50" rows="4"></textarea>
                                </div>

                                <div class="imgUpload">
                                    <label for="productImg">Images</label>
                                    <input id="productImg" type="file" />
                                </div>
                                <div class="categoryPrice">
                                    <div class="productCategory">
                                        <label for="productCategoryId">Category</label>
                                        <select id="productCategoryId">
                                            <option value="Men">Men</option>
                                            <option value="Women">Women</option>
                                            <option value="Unisex">Unisex</option>
                                            <option value="Shoes">Shoes</option>
                                        </select>
                                    </div>
                                    <div class="productPrice">
                                        <label for="producPriceId">Price</label>
                                       <input type="text" placeholder="enter price" id="producPriceId"/>
                                    </div>
                                </div>
                                <button class="submitbtn" type="submit">Submit item</button>


                            </form>
                        </div>
                    </div>
                </div>
            </div>

              <div class="sec3_over" id="product_catalogs" >
                <div class="product_create">
                  <h2>Product Grid</h2>
                  <button class="create_new" onclick="showThis(4)">+ Create New</button>
                </div>
              </div>
              <div class="sec3_over" id="blog_catalogs" >
                <div class="product_create">
                  <h2>Blog Grid</h2>
                  <button class="create_new" 5>+ New Blog</button>
                </div>
              </div>
          </main>
      </div>
  </section>
  </div>
        </ul>
      </div> 
    </div>
    <script src="/dashboard.js"></script>
  </body>
</html>
