<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />

    <title>Kira</title>
    <link rel="stylesheet" href="styles.css" />
    <script
      src="https://kit.fontawesome.com/2bbbf54a3f.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <!-- <h1 class="kira">KIRA</h1> -->
    <div class="kira_container">
      <!-- <div class="kira_overlay">
       
        <div class="logo_container">
          <img src="/kira_logo.png" class="logo" alt="" srcset="" />
        </div>
        <div class="overlay_right">
          <nav>
            <ul class="kira_nav">
              <li><a></a></li>
              <li><a href="/login">LOGIN/REGISTER</a></li>
              <li><a>WISHLIST</a></li>
              <li><a>CART</a></li>
            </ul>
          </nav>
        </div>
      </div> -->


<!-- Header section -->

<header>
 <div class="hamburger">
  <button onclick=" menuToggle()" id="menu_toggle" class="ham_btn" type="button"><i id="toggleControl" class="fa-solid fa-bars"></i></button>
  <div class="kira_left sidebar_move" id="kiraLeft">
    <ul>
      <li class="men">
        <a> MEN </a>
      </li>
      <li>
        <a> WOMEN </a>
      </li>
      <li>
        <a> INSIDE KIRA </a>
      </li>
      <li>
        <a> CREATIVE ART</a>
      </li>
      <li>
        <a> ALL </a>
      </li>
      <li>
        <a> NEW </a>
      </li>
      <li>
        <a> NEWSLETTERS </a>
      </li>
    </ul>
  </div>
 </div>
 <div class="brand_logo_container">
 <a href="/"> <img src="/kira_logo.png" class="brand_logo" alt=""  /></a>
 </div>
 <nav>
  <ul class="links_list">
    <li><a class=""><i class="fa-solid fa-cart-shopping cart"></i> Cart </a></li>
    <li><a class="login" href="/login"><i class="fa-regular fa-user profile"></i>  Login</a></li>
  </ul>
 </nav>
</header>


<!-- sidebar -->





      
      <!-- Landing Hero here -->

        <section class="hero_section">
            <div class="hero_text">
              <p class="premium">Premium</p>
              <h3>Fashion</h3>
              <p>Look your best on your best day</p>
              <button type="button" class="kira_btn hero_btn">Explore now</button>
            </div>
            <div class="hero_img">
              <div class="img_container">
                <img class="model_img" src="/blackfashionmodel.png" alt="lady model"/>
              </div>
            </div>
            
        </section>

      <div class="sec3_over" id="product_catalogs">
        <!-- products here -->
      </div>
     
    </div>



    <!-- Footer begins here -->
    <section class="footer_container">
      <footer class="footer-distributed">
   
        <div class="footer-left">
            <a class="logo_link" href="/"><img src="/kiralogo.jpg" class="brand_logo" alt=""  /></a>
          
   
   
          
        </div>
   
        <div class="footer-center">
          <div>
            <i class="fa fa-map-marker"></i>
              <p><span>309 - Lekki Estate,
               Beside Ebeano mall</span>
              Lagos, Nigeria</p>
          </div>
   
          <div>
            <i class="fa fa-phone"></i>
            <p>07020264268</p>
          </div>
          <div>
            <i class="fa fa-envelope"></i>
            <p><a href="mailto:hellokira@gmail.com">hellokira@gmail.com</a></p>
          </div>

          
          
        </div>
        <div class="footer-right">
          <p class="footer-company-about">
            <span>About the company</span>
         We sell and supply premium quality fashion materials
         for classy ladies . Delivery is nationwide
        </p>
          <div class="footer-icons">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-instagram"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-youtube"></i></a>
          </div>
          <p class="footer-links">
            <a href="#">Home</a>
            |
            <a href="#">Blog</a>
            |
            <a href="#">About</a>
            |
            <a href="#">Contact</a>
          </p>
        </div>
      </footer>
     </section>
    
     <script type="module">
      // Import the functions you need from the SDKs you need
      import { initializeApp } from "https://www.gstatic.com/firebasejs/9.12.1/firebase-app.js";
      import { getAnalytics } from "https://www.gstatic.com/firebasejs/9.12.1/firebase-analytics.js";
      // TODO: Add SDKs for Firebase products that you want to use
      // https://firebase.google.com/docs/web/setup#available-libraries
    
      // Your web app's Firebase configuration
      // For Firebase JS SDK v7.20.0 and later, measurementId is optional
      const firebaseConfig = {
        apiKey: "AIzaSyDdX5_3R_a-0peB7OTBTDRgeQL8P7HpGcA",
        authDomain: "testings-7fe73.firebaseapp.com",
        projectId: "testings-7fe73",
        storageBucket: "testings-7fe73.appspot.com",
        messagingSenderId: "131523371872",
        appId: "1:131523371872:web:7de8e4c7a47577cede7405",
        measurementId: "G-QK7J1NLZHF"
      };
    
      // Initialize Firebase
      const app = initializeApp(firebaseConfig);
      const analytics = getAnalytics(app);
    </script>
    <script src="index.js"></script>
  </body>
</html>
