<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />

    <title>Kira</title>
    <link rel="stylesheet" href="styles.css" />
    <script
      src="https://kit.fontawesome.com/2bbbf54a3f.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <!-- <h1 class="kira">KIRA</h1> -->
    <div class="kira_container">
      <div class="kira_overlay">
        <!-- <h1 class="l text">KIRA</h1> -->
        <div class="logo_container">
          <img src="/kira_logo.png" class="logo" alt="" srcset="" />
        </div>
        <div class="overlay_right">
          <nav>
            <ul class="kira_nav">
              <li><a></a></li>
              <li><a href="/login">LOGIN/REGISTER</a></li>
              <li><a>WISHLIST</a></li>
              <li><a>CART</a></li>
            </ul>
          </nav>
        </div>
      </div>
      <div class="sec3_over" id="product_catalogs"></div>
      <div class="kira_left" id="kiraLeft">
        <ul>
          <li>
            <a> MEN </a>
          </li>
          <li>
            <a> WOMEN </a>
          </li>
          <li>
            <a> INSIDE KIRA </a>
          </li>
          <li>
            <a> CREATIVE ART</a>
          </li>
          <li>
            <a> ALL </a>
          </li>
          <li>
            <a> NEW </a>
          </li>
          <li>
            <a> NEWSLETTERS </a>
          </li>
        </ul>
      </div>
    </div>
    <!-- <div class="coming_sub">
              <ul>
                <li>
                  <a> Women</a> -->
    <!-- <div class="women_comingSoon">
                    <ul class="women_cominglist">
                      <li><a> View All</a></li>
                      <li><a> Clothing</a></li>
                      <li><a> Bag</a></li>
                      <li><a>Jewellery</a></li>
                      <li><a>Accessories</a></li>
                    </ul>
                  </div> -->

    <!-- <li>
                  <a> Men</a>
                  <div class="men_comingSoon">
                    <ul>
                      <li><a> View All</a></li>
                      <li><a> Clothing</a></li>
                      <li><a> Bag</a></li>
                      <li><a>Jewellery</a></li>
                    </ul>
                  </div>
                </li> -->
    <!-- </ul>
            </div>
          </li>
          <li>
            <a> WOMEN</a> -->
    <!-- <div class="newArrivals_sub" id="menNew_text">
              <ul class="womenNew_text">
                <li><a> Women New Arrivals</a></li>
                <li><a class="womenNew_text"> Men New Arrivals</a></li>
              </ul>
            </div> -->
    <!-- </li>
          <li><a> INSIDE KIRA</a></li>
          <li>
            <a>CREATIVE ART </a> -->
    <!-- <div class="akvw_sub">
              <ul>
                <li><a> View All</a></li>
              </ul>
            </div> -->
    <!-- </li> -->

    <!-- <li>
            <a>WOMEN </a>
            <div class="women_sub">
              <ul>
                <li>
                  <a> Clothing</a>
                  <div class="clothing_sub">
                    <ul class="clothing_sublist">
                      <li><a> View All</a></li>
                      <li><a> Coats and Jackets</a></li>
                      <li><a> Corsets</a></li>
                      <li><a>Dresses</a></li>
                      <li><a>Knitwears</a></li>
                      <li><a>Shirts and Tops</a></li>
                      <li><a>Skirts</a></li>
                      <li><a>Sweatshirts and T-shirts</a></li>
                      <li><a>Trousers and Shorts</a></li>
                    </ul>
                  </div>
                </li> -->
    <!-- <li><a>Bag</a></li>
                <li><a> Shoes</a></li>
                <li><a>Jewellery</a></li>
                <li><a>Accessories</a></li>
                <li><a>Sunglasses</a></li> -->
    <!-- </ul>
            </div>
          </li>
          <li><a>MEN </a></li>
          <li><a>BRIDAL </a></li>
          
          <li><a> WESTWOOD WORLD</a></li>
          <li>
            <a>
              BUY LESS, CHOOSE<br />
              WELL,MAKE IT LAST</a
            >
          </li>
        </ul>
     -->
    <!-- <div className="product_bag" key="{id}">
      <img src=>
      <p className="bag_name"></p>
      <p className="bag_price"></p>
    </div> -->

    <!-- <div class="login_register">
      <div class="login_registerLeft">
        <h4>LOGIN /CREATE AN ACCOUNT</h4>
        <h4 class="new_user">NEW USER</h4>
        <p>
          If you are new to Kira you can register for an account below. You can
          save credit card details for faster shopping and manage your order
          history
        </p>
      </div>
      <div class="login_registerRight"></div>
    </div> -->

    <script src="index.js"></script>
  </body>
</html>
