<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
</head>
<body>
    <form action="/addcollection" method="POST">
        <input type="text" name="prod_name"/>

        <input type="number" name="price"/>
        <input type="text" name="img_url"/>
        <button type="submit">submit</button>

    </form>
    <p><%=productArry%></p>
    <script>
    var products = "<%=productArry%>"
    console.log(products);
    </script>
</body>
</html>