@media screen and (max-width: 420px) {
  html {
    width: 100vw;
    overflow-x: hidden;
  }
  header {
    height: 14vh;
    width: 66vw;
  }
  .fa-solid {
    font-size: 1.4rem;
  }
  #menu_toggle {
    margin-top: -4vh;
    margin-left: 3vh;
    font-size: 1.4rem;
  }
  .brand_logo_container {
    width: 30%;
    margin-left: 55%;
    position: absolute;
  }
  .links_list li {
    margin-left: 3vw;
  }
  .hero_text h3 {
    font-size: 2rem;
    font-weight: 900;
    /* margin-top: 0;
    margin-left: 0;
    margin-bottom: 0;
    line-height: 100%; */
    font-family: "Libre Baskerville", serif;
  }
  .hero_text p {
    font-size: 1.2rem;
    margin-top: 0;
    margin-bottom: 0;
  }
  .hero_section {
    width: 100vw;

    margin-left: -2vw;
  }

  .sec3_over {
    width: 100%;
    min-height: 100vh;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-top: 5%;
    background-color: transparent;
    margin-left: 0%;
    margin-inline: 0;
  }

  .product_contain {
    width: 48%;
  }
  .products img {
    position: absolute;
    /* top: 0; */
    width: 48%;
    height: 45vh;
    z-index: 2;
    object-fit: cover;
  }
  .img_container {
    width: 100%;
    margin-left: 10%;
    height: 100%;
  }
  .about {
    width: 183vw;
    height: fit-content;
    margin-left: -3vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 4vh;
  }
  .about1 img {
    object-fit: cover;
    width: 110%;
    height: 100%;
  }
  .about1 {
    width: 50%;
    height: 80vh;
    text-align: center;
    background-color: #f3f3f3;
  }
  .revMob {
    width: 100vw;
    margin-left: -5vw;
  }

  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  .footer-distributed .footer-center i {
    margin-left: 0;
  }
}
