@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;400&family=Montez&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap');


body{
  font-family: 'inter';
  overflow-x: hidden;
}




.kira {
  font-family: "Montez";
  letter-spacing: 6px;
  font-weight: 700;
}
.kira_container {
  width: 95%;
  margin: 0 auto;
}

.sec3_over {
  width: 90%;
  min-height: 100vh;
  position: relative;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-top: 5%;
  background-color: transparent;
  margin-left: 10%;
}
.kira_nav {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding-right: 1vw;
}
.overlay_right {
  width: 33vw;
  height: 12vh;
  float: right;
}
.product_contain {
  width: 24%;
  height: fit-content;
  padding: 0;
  background-color: transparent;
  overflow: hidden;
  /* text-align: center; */
}
.product_contain h4 {
  font-weight: 400;
  color: #607422;
  width: 80%;
  margin-left: 10%;
  padding-top: 1vh;
  text-align: center;
}
.product_contain p {
  font-weight: 200;
  color: #fe3217;
  background-color: #fff;
  width: 80%;
  margin-left: 10%;
  text-align: center;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
.products {
  width: 100%;
  height: 45vh;
  padding: 0;
  background-color: #fff;
  overflow: hidden;
}

.products img {
  position: absolute;
  /* top: 0; */
  width: 24%;
  height: 45vh;
  z-index: 2;
}
.products button {
  top: 32%;
  width: 50%;
  left: 25%;
  position: relative;
  z-index: 4;
  transition: all 200ms ease-in-out;
}
.products button:hover {
  border-radius: 0;
  width: 60%;
  left: 20%;
}
.products_icon_div {
  width: 15%;
  height: 50%;
  position: relative;
  left: 85%;
  top: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 3;
  transform: translateX(100%);
  transition: all 700ms ease-in-out;
}
.products:hover > .products_icon_div {
  transform: translateX(0%);
}
.products_icon {
  width: 100%;
  height: 26%;
  margin-bottom: 10%;
  background-color: rgb(2 60 111);
  color: rgb(255 255 255);
  text-align: center;
  transition: all 400ms ease-in-out;
}
.products_icon:hover {
  width: 90%;
  height: 23%;
  background-color: rgb(0, 0, 0);
  color: #fff;
}
.products_icon i {
  position: relative;
  top: 26%;
}
.sec2_btn {
  width: 12vw;
  height: 5vh;
  font-weight: 200;
  color: #fff;
  /* background: transparent; */
  background-color: rgb(0 0 0 / 62%);
  border: 1px solid #fff;
  margin-top: 4%;
  transition: all 0.3s ease-in-out;
}
.sec2_btn:hover {
  background-color: #000;
  border-radius: 10px;
  width: 14vw;
  border: 1px solid #fff;
}
.in_product {
  margin-top: 15vh;
}
.in_product h2 {
  text-align: center;
  width: 100vw;
  font-size: 2rem;
  font-weight: 300;
  color: rgb(2 60 111);
  margin-block: 2vh;
}
.kira_overlay {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  height: 20vh;
  position: fixed;
  z-index: 200;
  background: transparent;
  right: 1%;
}
/* .logo_container {
  width: 15vw;
  background-color: transparent;
  
} */
.logo {
  width: 15vw;
  height: 30vh;
  position: fixed;
  left: 43.5vw;
}
.l.text {
  text-align: center;
  width: 30%;
  margin-left: 34%;
  height: 10%;
  position: fixed;
  z-index: 201;
  font-family: "Montez";
  letter-spacing: 6px;
  font-weight: 700;
  margin-top: 4%;
}
.kira_left {
  width: 15%;
  height: 100vh;
  color: #000;
  position: fixed;
  top: 0%;
  left: 0;
  z-index: 205;
  background-color: rgba(248, 248, 248, .3);
  backdrop-filter: blur(5px);
  padding: 2rem 0;
  transition: all 400ms  ease-in-out;
  padding-right: 3%;
}

.sidebar_move{
  transform: translateX(-50vw);
}

.men{
  margin-top: 20vh;
}

.kira_left ul li {
  list-style: none;
  margin-bottom: 10%;
  font-weight: 500;
  font-size: 100%;
}
.kira_left a:hover {
color: #FB4648;
  cursor: pointer;
}
.overlay_right a:hover {
  border-bottom: 2px solid #000;
  cursor: pointer;
}
.women_comingSoon,
.men_comingSoon,
.clothing_sub {
  display: none;
}

.womenNew_text {
  list-style: none;
}
#menNew_text ul li {
  font-size: 0.7rem;
}
.women_cominglist {
  list-style: none;
}
.clothing_sublist {
  list-style: none;
}
.login_register {
}
.new_user {
  font-weight: 500;
}
.login{
  text-decoration: none;
  color: #000;
}



/* header */

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
 position: relative; 
  
 
}



#menu_toggle{
  z-index: 5000;
  position: absolute;
}
#toggleControl{
  transition: all 500ms ease-in-out;
}
.brand_logo_container {
  width: 10%;
  margin-left: 10%;
}

.links_list{
  display: flex;
  gap: 2rem;
  list-style: none;
}

.links_list li{
  transition: .3s all ease;
 }
 

.links_list li:hover{
 cursor: pointer;
 color: #FB4648;
}

.hamburger{
  width: 40%;
  height: fit-content
}
.brand_logo{
 width: 100%;
}


.ham_btn{
  font-size: 2rem;
  background-color: transparent;
  border: 0;
  outline: none;
  transition: all .3s ease;
}


.profile, .cart{
  font-size: 2rem;
}


.ham_btn:hover{
  color:#FB4648 ;
  cursor: pointer;
}

nav{
  width: 50%;
}
nav ul{
  margin-left: 55%;
}

/* Hero section styles */
.hero_section{
  background: rgb(252,222,209);
background: linear-gradient(90deg, rgba(252,222,209,1) 0%, rgba(251,215,215,1) 35%, rgba(251,215,216,1) 100%);
height: 70vh;
width: 90vw;
margin: 0 auto;
border-radius: 2rem ;
display: flex;
justify-content: space-between;
align-items: center;
}


.hero_img{
  width: 50%;
  height: 100%;
  overflow: hidden;
}


.img_container{
  
    width: 80%;
    margin-left: 20%;
    height: 100%;
}

.model_img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero_text {
  margin-left: 15%;
}

.hero_text h3{
  font-size: 10rem;
  font-weight: 900;
  margin-top: 0;
  margin-left: 0;
  margin-bottom: 0;
  line-height: 100%;
  font-family: 'Libre Baskerville', serif;

}

.hero_text p{
  font-size: 1.5rem;
  margin-top: 0;
  margin-bottom: 0;
}

.premium{
  font-weight: 700;
  margin-bottom: -2rem;
  color: #FB4648;
  font-size: 3rem
  
}

.hero_btn{
  margin-top: 1rem;
}

.kira_btn{
  background-color: #FB4648;
  border-radius: .5rem;
  padding: 1rem 8%;
  color: #fff;
  font-size: 1rem;
  border: 0;
  outline: none;
  transition: .4s all ease;

}

.kira_btn:hover{
  transform: scale(1.1);
  cursor: pointer;

}


/* blog styles */

#blog_section{
  width: 90vw;
  height: 60vh;
  
  margin:0 auto;
  text-align:center;
}

.blog_container{
  width: 90%;
  height: fit-content;

  margin:0 auto;
}

.blog_content{
  display:flex;
  gap:5%;
}

.blog_box{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items: center;
}
.blog_img_container{
  max-width:40rem;
  object-fit:cover;
}

.blg_img{
  max-width: 100%;
}

.blog_header h4{
  font-size:3rem;
}

.post_details a{
  text-decoration:none;
  color:gray;
}

.post_details a:hover{
  
  color:#FB4648;
}

.post_details h4{
  font-size:1.5rem;

}







/* Footer styles */

footer{
  font-family: 'inter';
}
 

header span{
	color: #3F71EA;
}
 
 
/* The footer is fixed to the bottom of the page */
 

 
@media (max-height:800px){
	footer { position: static; }
	/* header { padding-top:40px; } */
}
 
 
.footer-distributed{
	background-color: #2c292f;
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 50px 50px 60px 50px;
	margin-top: 80px;
}
 
.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}
 
/* Footer left */
 
.footer-distributed .footer-left{
	width: 30%;
}


 
/* The company logo */
 
.footer-distributed .footer-left img{
	width: 30%;
}
 

/* Footer links */
 
.footer-distributed .footer-links{
	color:  #ffffff;
  
}
 
.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}
 
.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}
 
/* Footer Center */
 
.footer-distributed .footer-center{
	width: 35%;
}
 
 
.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}
 
.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}
 
.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}
 
.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}
 
.footer-distributed .footer-center p a{
	color:  #e0ac1c;
	text-decoration: none;;
}
 
 
/* Footer Right */
 
.footer-distributed .footer-right{
	width: 30%;
}
 
.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}
 
.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 20px;
}
 
.footer-distributed .footer-icons{
	margin-top: 25px;
}
 
.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;
 
	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;
 
	margin-right: 3px;
	margin-bottom: 5px;
}
 
/* Here is the code for Responsive Footer */
/* You can remove below code if you don't want Footer to be responsive */
 
 
@media (max-width: 880px) {
 
	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}
 
	.footer-distributed .footer-center i{
		margin-left: 0;
	}
 
}








/* Responsive mode */

@media screen (max-width:320px) {
  .blog_content{
    display:flex;
    flex-direction:column;
    
  }
}